---
title: LE DINH CUONG | STORY
layout: main
---
      <!-- PAGE MAIN -->
      <div class="js-smooth-scroll bg-dark-1" id="page-wrapper" data-barba="container" data-arts-theme-text="light">
        <main class="page-wrapper__content">
          <!-- section MASTHEAD CONTAINER BOTTOM -->
          <section class="section section-masthead pt-large pb-medium text-center" data-arts-os-animation="data-arts-os-animation" data-background-color="var(--color-dark-1)">
            <div class="section-masthead__inner container-fluid">
              <header class="row section-masthead__header justify-content-center">
                <div class="col">
                  <div class="section-masthead__subheading small-caps mt-0 mb-1 mb-md-2 split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words"><span>La vie. L'amour. Le rire</span></div>
                  <div class="w-100"></div>
                  <div class="section-masthead__heading split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words">
                    <h1 class="h1 mt-0 mb-0">MY STORY</h1>
                  </div>
                  <div class="w-100"></div>
                  <div class="section__headline mt-2 mx-auto"></div>
                </div>
              </header>
            </div>
          </section>
          <!-- - section MASTHEAD CONTAINER BOTTOM -->
          <!-- section BLOG LIST SIDEBAR -->
          <section class="section section-blog pb-medium">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-8 section-blog__posts">
                  
                  {% for post in site.posts %}    
                  <div class="section-blog__wrapper-post">
                    <article class="figure-post">
                      <div class="figure-post__media"><a class="lazy" href="{{ post.url | prepend: site.baseurl}}"><img data-src="{{post.link_img}}" width="1920" height="1080" src="#" alt=""/>
                          <time class="figure-post__date" datetime="2020-02-01T04:16:44+00:00"><span class="figure-post__date-day h3">{{ post.day }}</span><span class="figure-post__date-month">{{ post.month }}</span></time></a></div>
                      <div class="figure-post__wrapper-info mt-3 small-caps">
                        <ul class="post-meta">
                          <li>
                            <ul>
                              <li><a href="#">{{post.categories[0]}}</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="figure-post__header mt-1"><a class="d-block" href="{{ post.url | prepend: site.baseurl}}">
                          <h2 class="h3 mt-0 font-vn-title">{{ post.title }}</h2></a></div>
                      <div class="figure-post__content">
                        <p>{{ post.excerpt }}</p>
                      </div>
                      <div class="figure-post__wrapper-readmore mt-1 mt-md-2 text-right"><a class="button button_bordered button_white" data-hover="Read More" href="{{ post.url | prepend: site.baseurl}}"><span class="button__label-hover">Read More</span></a>
                      </div>
                    </article>
                  </div>
                  {% endfor %} 
                </div>
                <!-- sidebar -->
                <div class="col-lg-3 section-blog__sidebar">
                  <aside class="sidebar sidebar_no-margin-last-widget widget-area">
                    <!-- widget SEARCH -->
                    <section class="widget widget_search">
                      <!-- header -->
                      <!-- - header -->
                      <!-- content -->
                      
                      <section class="section section-content clearfix text-center" data-arts-os-animation="data-arts-os-animation">
                        <div class="section-content__inner">
                          <div class="figure-testimonial__sign mx-auto"><img src="img/general/quote-white.svg" alt="alt"/></div>
                          
                          <div class="section-content__heading split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words">
                            <h6>Le bonheur est souvent la seule chose qu’on puisse donner sans l’avoir et c’est en le donnant qu’on l’acquiert.
                            </h6>
                          </div>
                          <div class="w-100"></div>
                          <div class="section__headline mt-1 mt-md-2 mx-auto"></div>
                          <div class="w-100"></div>
                        </div>
                      </section>
                      <!-- - content -->
                    </section>
                    <!-- - widget SEARCH -->
                    <!-- widget CATEGORIES LIST -->
                    <section class="widget widget_categories">
                      <!-- header -->
                      <h2 class="widgettitle">Categories</h2>
                      <!-- - header -->
                      <!-- content -->
                      <ul>
                        {% for category in site.categories %}
                            <li class="cat-item"><a href="#">{{ category[0] | capitalize }}</a><span>{{ category[1].size }}</span></li>
                        {% endfor %}
                      </ul>
                      <!-- - content -->
                    </section>
                    <!-- - widget CATEGORIES LIST -->
                    <!-- widget RECENT POSTS -->
                    <section class="widget widget_recent_entries">
                      <!-- header -->
                      <h2 class="widgettitle">Recent Posts</h2>
                      <!-- - header -->
                      <!-- content -->
                      <ul>
                        {% for post in site.posts limit:3 %}
                        <li><a href="{{ post.url }}"><span class="h4 font-vn-title">{{ post.title }}</span></a>
                          <div class="post-date">{{ post.time }}</div>
                        </li>
                        {% endfor %}
                      </ul>
                      <!-- - content -->
                    </section>
                    <!-- - widget RECENT POSTS -->
                  </aside>
                </div>
                <!-- - sidebar -->
              </div>
            </div>
          </section>
          <!-- - section BLOG LIST SIDEBAR -->
        </main>
        {% include footer.html %}
      </div>
      <!-- - PAGE MAIN -->